<!DOCTYPE html>
<html>
  <!-- Дальше бога нет. -->
  <head>
    <title>Anilagann</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link type="text/css" href="./stylesheets/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon.webp" type="image/x-icon">
    <script async src="/javascripts/mouseScroll.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>  
    <!-- /Fonts -->

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="Nav">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.webp" class="d-block rato ratio16x9" alt="Anilagann" width="152px">
        </a>
        <div class="d-none d-sm-block">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item">
              <a class="nav-link" href="/top" id="link">Топ-100</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/animelist" id="link">Все аниме</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search" id="link">Поиск</a>
            </li>
            
          </ul>

            <a class="btn btn-primary btn-p" href="/account/profile" role="button">Профиль</a>

        </div>
      </div>
    </nav>

    <% if(anonses.length != 0) {%>
      <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide mx-auto" data-bs-touch="true" style="margin-top: 80px;">
          <div class="carousel-indicators">
            <% for(let i = 0; i < anonses.length; i ++ ){%>
              <% if(i == 0) {%>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <% }else {%>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= i %>"></button>
              <% } %>
            <% } %>
          </div>
          <div class="carousel-inner">
            <% for(let i = 0; i < anonses.length; i ++ ){%>
              <% if(i == 0) {%>
                <div class="carousel-item active">
              <% }else {%>
                <div class="carousel-item">
              <% } %>
                <a class="mainCarousel " href="/anime/<%= anonses[i].id %>"><img src="<%= anonses[i].screen1 %>" class="d-block w-100 ratio ratio16x9"></a>
                <a href="/anime/<%= anonses[i].id %>">
                  <div class="carousel-caption text-start d-block">
                    <div class="col-3">
                      <img src="<%= anonses[i].poster %>" alt="" srcset="" class="d-none d-md-block ratio ratio9x16 c-image media-right">
                    </div>
                    <div class="col-12">
                      <a href="/anime/<%= anonses[i].id %>"><h2 class="text-white"><%= anonses[i].title %></h2></a>
                      <div class="text-truncate-container">
                        <p><a href="/anime/<%= anonses[i].id %>"><%= anonses[i].description %></a></p>
                      </div>
                    </div>
                  </div>
                </a>
  
              </div>
            <% } %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
        </div>
      </div>
    <% } %>
    
    <div class="container">
      <% if(anonses.length == 0) {%>
        <figure class="text-center text-white" style="margin-top: 80px;">
      <% }else {%>
        <figure class="text-center text-white mt-4">
      <% } %>
        <blockquote class="blockquote">
          <p><%= quote %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <%= character %> <cite title="Source Title"><%= anime %></cite>
        </figcaption>
      </figure>
    </div>
  <div class="container">
    <div class="row row-cols-3 justify-content-center" id="cards">
      <% data.forEach(function(anime) { %>
        <div id="card" class="card col m-lg-3 m-md-1 m-sm-1 p-0" style="width: 288px;">
          <a href="/anime/<%= anime.ids[0] %>">
          <% if(anime.poster == null){ %>
            <img id="poster" src="poster" class=" rounded-0" style="width: 286px; height: 404px">
          <% }else{ %>
            <img id="poster" src="<%= anime.poster %>" class=" rounded-0" alt="" style="width: 286px; height: 404px">
          <% } %>
          <div class="card-img-overlay" id="cardOverlay">
            <h4 class="card-text"><%= anime.rating %></h4>
            <h4 class="card-text"><%= anime.title %></h4>
            <p class="card-text m-0"><%= anime.epAired %> из <%= anime.epTotal %><br></p>
            <p class="card-text m-0"><%= anime.Genre %><br></p>
            <p class="card-text m-0"><%= anime.Year %><br></p>
          </div>
          </a>
        </div>
      <% }); %>
    </div>
  </div>

  <div class="justify-content-center align-items-center text-center my-2">
    <a href="/animelist" class="btn btn-primary btn-p" role="button">Все аниме</a>
  </div>

  <div class="container-fluid" id="genres">
    <section id="genre-cards" class="overflow-x-auto row flex-row flex-nowrap">
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0 rounded">
        <a href="/animelist?genres=Фантастика">
          <div id="asdf" class="rounded">
            <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/452973.jpg" alt="" style="width: 286px; height: 404px">
          </div>
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Фантастика</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0 rounded">
        <a href="/animelist?genres=Экшен">
          <div id="asdf">

          </div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/452838.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Экшен</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Фэнтези">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/49684.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Фэнтези</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Приключения">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/1274280.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Приключения</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Драма">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/571322.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Драма</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Детектив">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/258582.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Детектив</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Ужасы">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/257376.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Ужасы</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Спорт">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/230874.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Спорт</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Триллер">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/586251.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Триллер</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Музыка">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/438979.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Музыка</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Сёнен">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/490128.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Сёнен</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Романтика">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/958722.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Романтика</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Школа">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/5121538.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Школа</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Сверхъестественное">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/406148.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Сверхъ-<br>естественное</h1></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Повседневность">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/5270432.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h2 class="genre-card-text">Повседневность</h2></div>
          </div>
        </a>
      </div>
      <div id="genre-card" class="card m-lg-3 m-md-1 m-sm-1 px-0">
        <a href="/animelist?genres=Боевые искусства">
          <div id="asdf"></div>
          <img id="genre-poster" src="https://st.kp.yandex.net/images/film_big/230594.jpg" alt="" style="width: 286px; height: 404px">
          <div class="card-img-overlay text-center" id="GenreCardOverlay">
            <div class="genre-card-text-div"><h1 class="genre-card-text">Боевые<br>искусства</h1></div>
          </div>
        </a>
      </div>
    </section>
  </div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center my-4 border-top">
      <p class="col-md-4 mb-0 text-body-white">© 2023 Anilagann</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/images/logo.webp" class="d-block rato ratio16x9" alt="Anilagann" width="152px">
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/for-copyright-holders" class="nav-link px-2 text-white">Для правообладателей</a></li>

        <li class="nav-item"><a href="https://github.com/AGRIG05/anilagann-app" class="nav-link px-2 text-white">Github</a></li>
      </ul>
    </footer>
  </div>
  </body>
</html>